{% extends "layout.html" %}
{% block title %}
Change Password
{% endblock %}
{% block link %} {{url_for('login')}} {% endblock %}
{% block linkName %} Log In {% endblock %}
{% block body %}



<style>
    hr{
      box-shadow:rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) 3px 3px 6px 1px outset;
    }
  </style>
  
  <div  class="container"
  style="width: 40%;text-align: center;z-index: 9999; box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;background-color:whitesmoke ;padding: 5%;">
      
      <main class="form-signin">
        <form action="{{ url_for('changePassword') }}" method="post">
        
          <h1 class="h3 mb-3 fw-normal"><b>change Password</b></h1><hr>
  
          <div class="form-floating" style="margin: 10px 10px 0 0;">
            <input type="password" class="form-control" id="pwd" name="password"  placeholder="Password" >
            <label for="floatingInput">Email</label>
          </div>
        
          <div class="form-floating" style="margin: 10px 10px 0 0;">
            <input type="password" class="form-control" id="cpwd" name="cpassword" placeholder="Confirm Password" onchange="validate()">
            <label for="floatingPassword">OTP</label>
          </div>
          
  <script>
      function validate(){
          var pwd = document.getElementById('pwd').value;
          var cpwd = document.getElementById('cpwd').value;
          if(pwd==cpwd){
              document.getElementById('submit').type='button';
          }

      }
  </script>
          <hr>
          <button class="w-100 btn btn-lg btn-primary" id="submit" type="submit">Done</button>
          <br><hr>
    
          <div class="msg"><span style="color: lightseagreen;">{{ msg }}</span><span style="color: tomato;">{{ err }}</span></div>
       
        </form>
      </main>
  
    </div>
  
{% endblock %}