{% extends "layout 2.html" %}
{% block start %}
<h1>{{symbol}}</h1>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


   

  <script>
    async function fetching() {

        const chart = LightweightCharts.createChart(document.body, { width: 400, height: 300 });
       
        const response = await fetch("{{ url_for('static',filename='IRCTC.json') }}");
        // const response = await fetch("./IRCTC.json");
        const data = await response.json();

        var values = Object.values(data);
        // console.log(values)

        // var res = [[], [], [], [], [], [], []];
        // for (y in valu) {
        //     for (x in valu[y]) {
        //         res[y][x] = valu[y][x]
        //     }
        // }
        let wholeArray = Object.keys(data).map(key => data[key]);

        // console.log(res)
        var arr = [];

        for (x in wholeArray[0]) {
            arr.push([wholeArray[0][x], wholeArray[1][x], wholeArray[2][x], wholeArray[3][x], wholeArray[4][x], wholeArray[5][x], wholeArray[0][6]])
        }
        console.log(arr);
        arr.pop(0);
        // var result = [];
        // for (var i in data) {
        //     result.push([i, data.open[i]]);
        // }
        // console.log(result[1])
        google.load("visualization", "1", {packages: ["corechart"]});
        
 
        // var visualization = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
        // console.log(dataFinal)
        google.charts.setOnLoadCallback(drawChart(arr));
        function drawChart(arr) {
            // var data = google.visualization.arrayToDataTable(arr);
            // console.log(data)
            var options = {
                legend: 'none'
            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

            chart.draw(arr, options);
        }








    }

</script>
<div id='chart_div'></div>

<input type="submit" value="" onclick="fetching()">

{% endblock %}