<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>

<body>
  <script>

    async function fetching() {

      const chart = LightweightCharts.createChart(document.body, { width: 400, height: 300 });
      const response = await fetch("{{ url_for('static',filename='IRCTC.json') }}");
      const data = await response.json();

      console.log(new Date(data["Close"][1]))

      function dateScrape(dateString) {
        var date = new Date(dateString);

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        console.log(day + "/" + month + "/" + year)
        finalDate = day + "/" + month + "/" + year;
        return finalDate

      }
      console.log(dateScrape(data["Date"][0]));

      let candleData = "";
      // console.log((data['Date'][0]));
      // for (let x = 0; x <= 247; x++) {
      //   candleData += "{ time: " + dateScrape(data["Date"][x]) + ", open: " + parseFloat(data['Open'][x]) + ", high:" + parseFloat(data['High'][x]) + ", low:" + parseFloat(data['Low'][x]) + ", close:" + parseFloat(data['Close'][x]) + " },";

      // }
      // console.log(candleData);
      const lineSeries = chart.addLineSeries();
      const candlestick = chart.addCandlestickSeries();
      const cdata = data.map(d => {
        return { time: data[0], open: parseFloat(data[1]), high: parseFloat(data[2]), low: parseFloat(data[3]), close: parseFloat(data[3]) }});
     console.log(cdata);
        // console.log(data["Open"][0]);
        // console.log(cdata);

        // console.log(cdata);
      }

  </script>
  <input type="submit" value="" onclick="fetching()">

</body>

</html>