{% extends "layout 2.html" %}
{% block title %}
Dashboard

{% endblock %}
{% block start %}
<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 2fr ; grid-template-rows: 1fr 10fr;">
    <div class="bg-light border rounded-3" style="overflow:auto">
      <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
      <script>
      
        function searching(id) {
          // document.getElementById('search').value="";
          symbol = document.getElementById(id).value;
          console.log('onclick searching' + symbol);
          document.getElementById('search').value = symbol;
          document.getElementById('sc').value = symbol;
        }
        async function fetching() {

          document.getElementById("companies").style.overflow = "scroll";
          document.getElementById("companies").style.height = "350px";
          console.log("fasdkghj")
          const response = await fetch("{{ url_for('static',filename='companies.json') }}");
          const data = await response.json();
          console.log(typeof (data));
          let a = " <input type='button' class='btn-close' onclick='clearf()'><table border =1  padding='10px' cellspacing=10px  id='myTable'>";
          for (let x = 0; x < 1628; x++) {
            a += "<tr><td><input style='width:100%' type='submit' class='btn btn btn-light' id='symbol" + x + "' onclick='searching(this.id)'  value=" + data["Symbol"][x] + "></td><td>" + data["CompanyName"][x] + "</td></tr>";
          }
          a += "</table>";
          console.log(a);
          document.getElementById("companies").innerHTML = a;


        }

        function myFunction() {


          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("search");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        function clearf() {
          var valueBtn = document.getElementById("search").value;
          console.log(valueBtn)
          document.getElementById("companies").style.overflow = "scroll";
          document.getElementById("companies").style.height = "0px";
          // document.getElementById("companies").innerHTML = "";
          document.getElementById("search").value = valueBtn;
        }

      </script>

      <form action="/chart" method="post">
        <input type="search" name="search" id="search" onclick="fetching()" onkeyup="myFunction()">
        <input type="submit" value="Search">

      </form>
      <span id='sc'>{{err}}</span>
      <div id="companies">
      </div>
      <script>
        var path = document.body.getElementsByClassName("chart");
        const chart = LightweightCharts.createChart(document.body, { width: 400, height: 300 });
        const lineSeries = chart.addLineSeries();
        const candlestick = chart.addCandlestickSeries();
        candlestick.setData([{ time: '2018-12-19', open: 141.77, high: 170.39, low: 120.25, close: 145.72 },
        { time: '2018-12-20', open: 145.72, high: 147.99, low: 100.11, close: 108.19 },
        { time: '2018-12-21', open: 108.19, high: 118.43, low: 74.22, close: 75.16 },
        { time: '2018-12-22', open: 75.16, high: 82.84, low: 36.16, close: 45.72 },
        { time: '2018-12-23', open: 45.12, high: 53.90, low: 45.12, close: 48.09 },
        { time: '2018-12-24', open: 60.71, high: 60.71, low: 53.39, close: 59.29 },
        { time: '2018-12-25', open: 68.26, high: 68.26, low: 59.04, close: 60.50 },
        { time: '2018-12-26', open: 67.71, high: 105.85, low: 66.67, close: 91.04 },
        { time: '2018-12-27', open: 91.04, high: 121.40, low: 82.70, close: 111.40 },
        { time: '2018-12-28', open: 111.51, high: 142.83, low: 103.34, close: 131.25 },
        { time: '2018-12-29', open: 131.33, high: 151.17, low: 77.68, close: 96.43 },
        { time: '2018-12-30', open: 106.33, high: 110.20, low: 90.39, close: 98.10 },
        { time: '2018-12-31', open: 109.87, high: 114.69, low: 85.66, close: 111.26 },]);
      </script>
      <div id="chart" class="chart">

      </div>

    </div>


    <div class="bg-light border rounded-3">

    <style>
      /* body {

  align-items: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */
      iframe {
        border: 3px;
        align-self: center;
        height: 80vh;
        width: 100%;

      }
    </style>
    <script>

//     window.setTimeout(function () {
//   window.location.reload();
// }, 60000);


    </script>
    <!-- <div class="container"> -->
    <iframe
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQYRipJ5REG7Na5wb1WeYd9SAh0_h915bJWKMeBHBZ0eYquh36INk-8w2uP5Yw0BM91p702_YV2qegK/pubhtml?widget=true&amp;headers=false"></iframe>
    <!-- </div> -->
  </div>
  {% endblock %}