{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}
{% block body %}

<div class="container"
style="width: 40%;justify-items:center;margin:auto;z-index: 9999; box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;background-color:whitesmoke ;padding: 5%;">
    
    <main class="form-signin">
      <form action="{{ url_for('login') }}" method="post">
      
        <h1 class="h3 mb-3 fw-normal">Log in</h1>

        <div class="form-floating" style="margin: 10px 10px 0 0;">
          <input type="name" class="form-control" id="floatingInput" name="email" placeholder="Email">
          <label for="floatingInput">Email</label>
        </div>
      
        <div class="form-floating" style="margin: 10px 10px 0 0;">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="checkbox mb-3">
          <label>
            Don't have account ? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a>
          </label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div class="msg">{{ msg }}</div>
     
      </form>
    </main>

  </div>


  {% endblock %}