{% extends "layout 2.html" %}
{% block title %}

Prediction

{% endblock %}
{% block start %}

<div class="container"  style="grid-template-columns: 2fr 1fr ; grid-template-rows: 1fr;width: 80%; text-align: center;z-index: 9999; box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;background-color:whitesmoke ;padding: 5%;">

<b> <u> <H2>Prediction for {{name}}</H2></u></b>
<hr>
    <h2>Prophet Model</h2>

    <img width='60%' src="../static/prophet/{{name}}.png"><br>
    <h4>RMSE - {{pr}}</h4>
    
    <div class="right" style="overflow: scroll;height: 300px;"><table>{% for item in po %}
    <tr>
        
        <td>{{item}}</td>
    
    </tr>
    
    {% endfor %}</table>
</div>
    <hr>
    <h2>ARIMA Model</h2>
    <img width='50%' src="../static/arima/{{name}}.png"><br>
<h4>RMSE - {{ar}}</h4>
<div class="right" style="overflow: scroll;height: 300px;">
    <table>{% for item in ao %}
        <tr>

            <td>{{item}}</td>

        </tr>

        {% endfor %}
    </table>
</div>



{% endblock %}