{% extends "layout.html" %}
{% block body %}
<!-- <div class='bg'>
  </div> -->
<style>
  hr{
    box-shadow:rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) 3px 3px 6px 1px outset;
  }
</style>
<div class="container"
  style="width: 40%;text-align:center;z-index: 9999; box-shadow: rgb(204, 219, 232) 3px 3px 6px 6px , rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;background-color:whitesmoke ;padding: 5%;">

  <main class="form-signin">
    <form action="{{ url_for('register') }}" method="post">

      <h1 class="h3 mb-3 fw-normal"><b>Registration</b></h1><hr>
      <div class="form-floating" style="margin: 10px 10px 0 0;">
        <input type="text" class="form-control" id="name" name="name" placeholder="name">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating" style="margin: 10px 10px 0 0;">
        <input type="number" min=1000000000 max=9999999999 class="form-control" id="phoneno" name="phoneno"
          placeholder="9999999999" required>
        <label for="floatingInput">Phone Number</label>
      </div>

      <div class="form-floating" style="margin: 10px 10px 0 0;">
        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating" style="margin: 10px 10px 0 0;">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <br>
      <div class="checkbox mb-3">
        <label>
          Already have account ? <a id="redirect" class="botton" href="{{url_for('login')}}"> Login here</a>
        </label>
      </div>
      <hr>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      &nbsp;
      <div class="msg">{{ msg }}</div>

    </form>
  </main>

</div>
{% endblock %}