<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        body {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
        iframe{
            align-self: center;
            height: 80vh;
            width: 80vw;

        }
        


    </style>
    <script>

    window.setTimeout(function () {
  window.location.reload();
}, 60000);
    </script>
</head>
<body>

    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQYRipJ5REG7Na5wb1WeYd9SAh0_h915bJWKMeBHBZ0eYquh36INk-8w2uP5Yw0BM91p702_YV2qegK/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</body>
    </html>